.App {
  text-align: center;
}


.smurf-holder{
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top:5%;
}

.spec-smurf{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow:column;
  margin:1%;
  border:1px solid black;
  width:20%;
  height:20vh;
  background: lightblue;

}

p{
  margin:3%;
}